@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

@tailwind base;
@tailwind utilities;
@tailwind variants;

.portada{
    background-image: url(assets/exclusivosPortada.png); 

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
       
}

.portadaBuzo{
    background-image: url(assets/buzoPortada.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.portadaCamperas{
    background-image: url(assets/camperaPortada.png);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.portadaAccesorios{
    background-image: url(assets/anteojosPortada.jpg);

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.portadaTiendaBuzo{
  background-image: url(assets/portadaBuzosGrande.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 120%;
}

.portadaTiendaCampera{
  background-image: url(assets/portadaCamperaGrande.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 120%;
}

.portadaTinedaExclusivos{
  background-image: url(assets/portadaExclusivosGrande.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 120%;
}



.swiper {
    width: 100%;
  }
  
  .swiper-slide {
    text-align: center;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  .center{
    justify-items: center;
  }

  @media (max-width: 768px) {
    .swiper-slide img {
        width: 100%;
      }

      .portadaTiendaBuzo{
        background-size: 100%;
      }

      .portada{
        background-size: cover;
           
    }

    .portadaBuzo{

      background-size: cover;
  }

  .portadaCamperas{

    background-size: cover;
}

.portadaAccesorios{

  background-size: cover;
}

      
  }
  



